<!doctype html>
<html>
  <<common/head $in.title>>
  <body>
    <h1><<t host.name>></h1>
    <h2><<t $in.title>></h2>
    <nav>
      <span><a class="active">posts</a></span>&nbsp;
      <span><a href="guests">guests</a></span>
    </nav>
    <form method="POST">
      <input type="text" name="content" placeholder="Leave a message...">
      <input type="submit" value="send">
    </form>
    <<for post $in.posts>>
      <article>
        <address><<t post.guest.name>></address>
        <section><<t post.content>></section>
      </article>
    <</for>>
  </body>
</html>
